@import url("keifont/stylesheet.css");
#text-body-2 {
    font-family: "vcr osd mono 1 001";
    margin-right: 419px;
    line-height: 19px;
    left: 389px;
    position: relative;
    top: 63px;
    color: #FAFAFA;
    font-size: 13px;
}
.blog-sub {
    font-family: "vcr osd";
    font-size: 15px;
    margin: 0 auto;
    display: block;
    left: 214px;
    position: relative;
    top: 21px;
}
.blog-title {
    font-family: keifont;
    font-size: 39px;
    background-color: #FFE500;
    width: 514px;
    padding-left: 8px;
    position: relative;
    top: 8px;
    left: 82px;
}
.blog-post {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
    margin-left: 82px;
    margin-right: 106px;
    text-indent: 47px;
    line-height: 33px;
    top: 10px;
    position: relative;
}
